/* CSS reset { */
#app {
  font-family: 'Avenir', Helvetica, Arial, sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  text-align: center;
  color: #2c3e50;
  margin: 0;
  padding: 0;
}

body, html {
  height:100%;
  margin: 0;
  padding: 0;
  background: #232323;
  color: #cdcdcd;
}

div, h1, button, p {
  margin: 0;
  padding: 0
}

a:active, a:focus {
  outline: 0
}

/* } */

/* main { */
.contentFrame {
  width: 100%;
  padding-right: 15px;
  padding-left: 15px;
}

.contentFrame hr {
  border-top: 2px solid rgba(0, 0, 0, .1);
}

/* main { */

/* roulette { */
.slot-machine {
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#eeeeee', endColorstr='#cccccc', GradientType=0);
  width: 100%;
  margin: 10px auto;
  padding: 20px;
  height: 200px;
}

.slot .slot__window, .slot__wrap .slot__item {
  display: inline-block;
}

.slot:first-child {
  width: 30%;
  height: 156px;
  margin: 10px 0px;
  padding: 0 20px;
  float: left;
}

.slot:last-child {
  width: 70%;
  height: 156px;
  margin: 10px 0px;
  padding: 0 20px;
  float: left;
}

.slot__window {
  background: #78acff;
  text-align: center;
  float: left;
  padding: 0 10px;
  width: 100%;
  height: 100px;
  overflow: hidden;
  margin: 5px;
  border-radius: 10px;
}

.slot__item {
  background: #c7e9ff;
  background-image: -moz-linear-gradient(top, rgba(199, 233, 255, 1) 0%, rgba(185, 219, 241, 1) 50%, rgba(169, 203, 225, 1) 51%, rgba(246, 246, 246, 1) 100%);
  background: -webkit-gradient(linear, left top, left bottom, color-stop(0%, rgba(199, 233, 255, 1)), color-stop(50%, rgba(185, 219, 241, 1)), color-stop(51%, rgba(169, 203, 225, 1)), color-stop(100%, rgba(246, 246, 246, 1)));
  background: -webkit-linear-gradient(top, rgba(199, 233, 255, 1) 0%, rgba(185, 219, 241, 1) 50%, rgba(169, 203, 225, 1) 51%, rgba(246, 246, 246, 1) 100%);
  background: -o-linear-gradient(top, rgba(199, 233, 255, 1) 0%, rgba(185, 219, 241, 1) 50%, rgba(169, 203, 225, 1) 51%, rgba(246, 246, 246, 1) 100%);
  background: -ms-linear-gradient(top, rgba(199, 233, 255, 1) 0%, rgba(185, 219, 241, 1) 50%, rgba(169, 203, 225, 1) 51%, rgba(246, 246, 246, 1) 100%);
  background: linear-gradient(top, rgba(199, 233, 255, 1) 0%, rgba(185, 219, 241, 1) 50%, rgba(169, 203, 225, 1) 51%, rgba(246, 246, 246, 1) 100%);
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#ffffff', endColorstr='#f6f6f6', GradientType=0);
  margin-top: 10px;
  height: 80px;
  width: 100%;
  border-radius: 20px;
  text-align: center;
  color: #020091;
  font-weight: bold;
  line-height: 80px;
}

/* } roulette */

/* util(etc) { */
.row.vertical-divider {
  overflow: hidden;
}

.row.vertical-divider > div[class^="col-"] {
  text-align: center;
  border-left: 1px solid rgba(0, 0, 0, .1);
  border-right: 1px solid rgba(0, 0, 0, .1);
}

.row.vertical-divider div[class^="col-"]:first-child {
  border-left: none;
}

.row.vertical-divider div[class^="col-"]:last-child {
  border-right: none;
}

/* } */
